<<<<<<< HEAD
/*
 * Main Content Styles
*/
main.wrapper {
	width: 90%;
	max-width: 900px;
	font-size: .8em;
	margin: {
		top: 60px;
		right: auto;
		bottom: 100px;
		left: auto;
	}

	@include break(768px) {
		width: 80%;
		height: 500px;
		margin-bottom: 250px;
	}
	
	> .container {
		width: 100%;
		max-height: 400px;
		border: 1px dotted #999;
		border-radius: 5px;
		padding: 10px;
		box-sizing: border-box;
		line-height: 1.7em;
		text-align: justify;

		@include break(768px) {
			display: block;
			width: 100%;
			height: 300px; //85vh;
			float: left;
		}
		
		> p:nth-of-type(1) {
			width: 90%;
			margin: 0 auto 20px;
			
			@include break(768px) {
				width: 70%;
				margin: 0 auto 40px;
			}
		}

		> p > span {
			color: #f00;
		}

		> p:nth-of-type(2) {
			text-align: center;

			> a {
				background: $red;
				font-size: 1em;
				@extend %homePageButtons;
				@extend %hoverEffect;

				@include break(768px) {
					font-size: 1.8em;	
				}
			}
		}

		> p:nth-of-type(3) {
			text-align: center;
			margin-top: 5px;
//			-webkit-transform: scale(1.0);
//			
//			&:hover {
//				-webkit-transform: scale(1.0);
//			}

			@include break(768px) {
				margin-top: 20px;
			}

			> a {
				background: $blue;
				font-size: 1em;
				@extend %homePageButtons;

				@include break(768px) {
					font-size: 1.8em;	
				}
				
				@extend %hoverEffect;
			}
		}
		
		form p {
			text-align: center;
			margin-top: 25px;

			@include break(768px) {
				margin-top: 50px;
			}

			> button {
				background: $orange;
				font-size: 1em;
				@extend %homePageButtons;

				@include break(768px) {
					font-size: 1.8em;	
				}
				
				@extend %hoverEffect;
			}
		}
	}
}

/*
 * Test Choice Styles
*/
main.testChoice {
	width: 90%;
	max-width: 600px;
	font-size: .8em;
	margin: 105px auto;
	
	@include break(768px) {
		height: 500px;
		margin: 140px auto;
	}
	
	form select, form span {
		float: right;
	}
	
	button.start {
		width: 40%;
		background-color: $green; /* Green */
		border: none;
		color: $offwhite; //$yellow;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		-webkit-transition: all .2s ease-in;
		-moz-transition: all .2s ease-in;
		-ms-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		transition: all .2s ease-in;
		
		&:hover {
			border-radius: 10px;
		}
	}
}

/*
 * Questions page styles
*/
main.questionPage {
	width: 100%;
	height: 100%;
	margin: 35px 0;
	font-size: .8em;
	
	.container {
		width: 90%;
		margin: 30px auto;
		
		@include break(768px) {
			margin: 130px auto;
		}
	}
	
	form {
		width: 100%;
		//height: 600px;
		max-width: 800px;
		margin: 0 auto;
		
		@include break(768px) {
			//height: 700px;
		}
	}
	
	.question,
	.answers,
	.submission {
		width: 100%;
		border: 1px solid #ccc;
		margin-top: 0;
		margin-bottom: 0;
		padding: 2%;
	}

	.question {
		height: 20%;//150px;
		min-height: 100px;
		border-radius: 10px 10px 0 0;
		
		@include break(768px) {
			height: 25%;//200px;
		}

		> p.current {
			text-align: right;
			font-size: .8em;
			padding-right: 3%;
			margin-bottom: 4%;
		}
		
		> p:nth-child(2) {
			//padding-left: 60px;
			text-align: center;
			margin-top: 10%;
			font: {
				size: .8em;
				family: $font-main;
				weight: 100;
			}
			
			@include break(768px) {
				font-size: 1.2em;
			}
			
			> #question_number {
				font: {
					size: .9em;
					weight: lighter;
				}
			}
		}
	}

	.answers {
		height: 55%;//200px;
		min-height: 175px;
		
		.choices li {
			font: {
				family: $philosopher;
				size: .8em;
				weight: 300;
			}
			line-height: 1.7em;
			letter-spacing: 2px;
			
			@include break(768px) {
				font-size: 1em;
			}
		}
	}

	.submission {
		height: 15%;//80px;
		min-height: 80px;
		border-radius: 0 0 10px 10px;
		
		input[name="submit"] {
			background-color: $green; /* Green */
			color: $offwhite; // $orange;
		}
		
		input[name="quit"] {
			background-color: $red; /* red */
			color: $offwhite; //$yellow;
			float: right;
		}
		
		input[name="submit"], 
		input[name="quit"] {
			margin: 3%; //20px
			width: ((100% - ((2 - 1) * 25)) / 2);
			max-width: 250px;
			border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			opacity: 1;
			-webkit-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			transition: all .2s ease-in;
			
			@include break(768px) {
				opacity: .9;
				&:hover {
					opacity: 1;
					border-radius: 10px;
				}
			}
		}
	}
	
	//width: ((100% - (($qty - 1) * $margin)) / $qty);
	
}

/* 
 * Final Results Page
*/
main#finalePage {
	font-size: 1rem;
	margin-bottom: 4%;
	
	> .container {
		width: 90%;
		//height: 1200px;
		margin: 0 auto;
		border: 1px dashed #000;
		border-radius: 5px;
		padding: 2%;
		
		@include break(1400px) {
			width: 50%;
		}
		
		> a.retake {
			background: $blue;
			font-size: 1em;
			@extend %homePageButtons;
			@extend %hoverEffect;
			
			@include break(768px) {
				font-size: 1.3em;
			}
		}
	}
	
	#finaleDetails {
		padding: 20px;
		border-bottom: 1px dashed #000;
		font-size: 1.3rem;
	}
	
	#container {
		
	}
	
	.wrapper {
		//padding: 20px;
//		height: 4000px;
		
		> ol#question_list {
			padding-bottom: 50px;
			
//			.question_wrapper 
			li.question {
//				height: 2em;
				margin: {
					top: 1em;
					bottom: 1em;
				}
				font-size: 1.3rem;
				padding: 2%;
				
				@include break(768px) {
					font-size: 2rem;
				}
			}
			
//			.question_wrapper
			.answer_list {
				width: 80%;
				margin: 0 auto;
				line-height: 1.5em;
				list-style-type: lower-alpha;
				font-size: 1.2rem;
				padding-left: 0;
				
				@include break(768px) {
					font-size: 1.6rem;
				}
				
				> li {
					word-wrap: break-word;
				}
			}
			
			> p {
				margin: {
					top: 4%;
					bottom: 4%;
				}
			}
		}
	}
	
	.correct {
		color: $green;
	}
	
	.wrong {
		color: $red;
	}
	
	.correct_answer,
	.wrong_answer {
		width: 80%;
//		height: 3em;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 4%;
		margin: 2% auto;
		
		@include break(768px) {
			font-size: 1.4rem;
			padding: 10px;
		}
	}
	
	.wrong_answer {
		background-color: $red;// nth($background-colors-list, 10);
	}
	
	.correct_answer {
		background-color: $darkblue; //nth($background-colors-list, 6);
		color: $offwhite;
		
		h4 {
			color: $blue;
			margin-bottom: 0;
		}
		
		.resource {
			&:hover {
				a {
					color: opacify($red, 0.5);					
				}
			}
			
			a {
				color: $yellow;
				margin-top: 0;
			}
		}
	}
}

/* 
 * Admin Page
*/
main#adminPage {
	div.question_box {
		width: 70%;
		border: 1px dotted #000;
		border-radius: 5px;
		margin: 4% auto;
		padding: 7px 3%;
		position: relative;
		
		> p.question_number {
			width: 75%;
			display: inline-block;
		}
		
		> p.edit-question {
			width: 20%;
			display: inline-block;
			text-align: right;
			margin: 0 10px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	form {
		width: 80%;
		text-align: center;
		margin: 0 auto 50px;
	}
	
	button[name=previous] {
		margin-right: 30px;
		@extend %adminPageButtons;
	}
	
	button[name='next'] {
		margin-left: 30px;
		@extend %adminPageButtons;
	}
}

/* 
 * Add Question Page
*/
main.addPage {
	height: 100vh;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;

	@include break(768px) {
		height: 80vh;
	}
	
	h2 {
		color: $darkgreen;
		margin-bottom: 0;
	}
	
	.message {
		color: $red;
	}
	
	form {
		width: 100%;
		height: 100%;
		max-height: 800px;
		margin: 0 auto;
				
		p.hidden {
			display: none;
		}
		
		> p {
			margin-top: 20px;
		}
		
		> p:last-of-type {
			margin-bottom: 50px;
		}


		label {
			display: block;
			margin-bottom: 10px;
			font: {
				family: $gloria;
				size: 14px;
				weight: lighter;
			}

			@include break(768px) {
				display: inline-block;
				font-size: 18px;
			}
		}

		input[type="text"],
		input[type="number"] {
			float: none;
				border-radius: 1px;

			@include clearfix;

			@include break(768px) {
				line-height: 1.5em;
				float: right;
			}
		}
		
		input[type="text"] {
			width: 100%;
			@include break(768px) {
				width: 50%;
			}
		}
		
		input[type="number"] {
			width: 30%;
			@include break(768px) {
				
			}
		}
		
		input[name="submit"] {
			background-color: $purple;
			color: $offwhite;
			float: none;

			@include break(768px) {
				float: right;
			}
		}

		input[name="cancel"] {
			background-color: $red;
			color: $yellow;
			
			@include break(768px) {
				float: left;
			}
		}

		input[name="submit"],
		input[name="cancel"] {
				width: ((100% - ((2 - 1) * 15)) / 2);
				max-width: 250px;
				padding: 10px 25px;
				text-align: center;
				text-decoration: none;
				font-size: 1em;
			
			
			@include break(1000px) {
				font-size: 1.2em;
				padding: 15px 32px;
			}
			
			&:hover {
				opacity: .8;
				font-size: 1.2em;
				//padding: 15px 32px;
				
				@include break(1000px) {
					font-size: 1.4em;
				}	
			}
		}
	}
}
=======
/*
 * Main Content Styles
*/
main.wrapper {
	width: 90%;
	max-width: 900px;
	font-size: .8em;
	margin: {
		top: 60px;
		right: auto;
		bottom: 100px;
		left: auto;
	}

	@include break(768px) {
		width: 80%;
		height: 500px;
		margin-bottom: 250px;
	}
	
	> .container {
		width: 100%;
		max-height: 400px;
		border: 1px dotted #999;
		border-radius: 5px;
		padding: 10px;
		box-sizing: border-box;
		line-height: 1.7em;
		text-align: justify;

		@include break(768px) {
			display: block;
			width: 100%;
			height: 300px; //85vh;
			float: left;
		}
		
		> p:nth-of-type(1) {
			width: 90%;
			margin: 0 auto 20px;
			
			@include break(768px) {
				width: 70%;
				margin: 0 auto 40px;
			}
		}

		> p > span {
			color: #f00;
		}

		> p:nth-of-type(2) {
			text-align: center;

			> a {
				background: $red;
				font-size: 1em;
				@extend %homePageButtons;
				@extend %hoverEffect;

				@include break(768px) {
					font-size: 1.8em;	
				}
			}
		}

		> p:nth-of-type(3) {
			text-align: center;
			margin-top: 5px;
//			-webkit-transform: scale(1.0);
//			
//			&:hover {
//				-webkit-transform: scale(1.0);
//			}

			@include break(768px) {
				margin-top: 20px;
			}

			> a {
				background: $blue;
				font-size: 1em;
				@extend %homePageButtons;

				@include break(768px) {
					font-size: 1.8em;	
				}
				
				@extend %hoverEffect;
			}
		}
		
		form p {
			text-align: center;
			margin-top: 25px;

			@include break(768px) {
				margin-top: 50px;
			}

			> button {
				background: $orange;
				font-size: 1em;
				@extend %homePageButtons;

				@include break(768px) {
					font-size: 1.8em;	
				}
				
				@extend %hoverEffect;
			}
		}
	}
}

/*
 * Test Choice Styles
*/
main.testChoice {
	width: 90%;
	max-width: 600px;
	font-size: .8em;
	margin: 105px auto;
	
	@include break(768px) {
		height: 500px;
		margin: 140px auto;
	}
	
	form select, form span {
		float: right;
	}
	
	button.start {
		width: 40%;
		background-color: $green; /* Green */
		border: none;
		color: $offwhite; //$yellow;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		-webkit-transition: all .2s ease-in;
		-moz-transition: all .2s ease-in;
		-ms-transition: all .2s ease-in;
		-o-transition: all .2s ease-in;
		transition: all .2s ease-in;
		
		&:hover {
			border-radius: 10px;
		}
	}
}

/*
 * Questions page styles
*/
main.questionPage {
	width: 100%;
	height: 100%;
	margin: 35px 0;
	font-size: .8em;
	
	.container {
		width: 90%;
		margin: 30px auto;
		
		@include break(768px) {
			margin: 130px auto;
		}
	}
	
	form {
		width: 100%;
		//height: 600px;
		max-width: 800px;
		margin: 0 auto;
		
		@include break(768px) {
			//height: 700px;
		}
	}
	
	.question,
	.answers,
	.submission {
		width: 100%;
		border: 1px solid #ccc;
		margin-top: 0;
		margin-bottom: 0;
		padding: 2%;
	}

	.question {
		height: 20%;//150px;
		min-height: 100px;
		border-radius: 10px 10px 0 0;
		
		@include break(768px) {
			height: 25%;//200px;
		}

		> p.current {
			text-align: right;
			font-size: .8em;
			padding-right: 3%;
			margin-bottom: 4%;
		}
		
		> p:nth-child(2) {
			//padding-left: 60px;
			text-align: center;
			margin-top: 10%;
			font: {
				size: .8em;
				family: $font-main;
				weight: 100;
			}
			
			@include break(768px) {
				font-size: 1.2em;
			}
			
			> #question_number {
				font: {
					size: .9em;
					weight: lighter;
				}
			}
		}
	}

	.answers {
		height: 55%;//200px;
		min-height: 175px;
		
		.choices li {
			font: {
				family: $philosopher;
				size: .8em;
				weight: 300;
			}
			line-height: 1.7em;
			letter-spacing: 2px;
			
			@include break(768px) {
				font-size: 1em;
			}
		}
	}

	.submission {
		height: 15%;//80px;
		min-height: 80px;
		border-radius: 0 0 10px 10px;
		
		input[name="submit"] {
			background-color: $green; /* Green */
			color: $offwhite; // $orange;
		}
		
		input[name="quit"] {
			background-color: $red; /* red */
			color: $offwhite; //$yellow;
			float: right;
		}
		
		input[name="submit"], 
		input[name="quit"] {
			margin: 3%; //20px
			width: ((100% - ((2 - 1) * 25)) / 2);
			max-width: 250px;
			border: none;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			opacity: 1;
			-webkit-transition: all .2s ease-in;
			-moz-transition: all .2s ease-in;
			-ms-transition: all .2s ease-in;
			-o-transition: all .2s ease-in;
			transition: all .2s ease-in;
			
			@include break(768px) {
				opacity: .9;
				&:hover {
					opacity: 1;
					border-radius: 10px;
				}
			}
		}
	}
	
	//width: ((100% - (($qty - 1) * $margin)) / $qty);
	
}

/* 
 * Final Results Page
*/
main#finalePage {
	font-size: 1rem;
	margin-bottom: 4%;
	
	> .container {
		width: 90%;
		//height: 1200px;
		margin: 0 auto;
		border: 1px dashed #000;
		border-radius: 5px;
		padding: 2%;
		
		@include break(1400px) {
			width: 50%;
		}
		
		> a.retake {
			background: $blue;
			font-size: 1em;
			@extend %homePageButtons;
			@extend %hoverEffect;
			
			@include break(768px) {
				font-size: 1.3em;
			}
		}
	}
	
	#finaleDetails {
		padding: 20px;
		border-bottom: 1px dashed #000;
		font-size: 1.3rem;
	}
	
	#container {
		
	}
	
	.wrapper {
		//padding: 20px;
//		height: 4000px;
		
		> ol#question_list {
			padding-bottom: 50px;
			
//			.question_wrapper 
			li.question {
//				height: 2em;
				margin: {
					top: 1em;
					bottom: 1em;
				}
				font-size: 1.3rem;
				padding: 2%;
				
				@include break(768px) {
					font-size: 2rem;
				}
			}
			
//			.question_wrapper
			.answer_list {
				width: 80%;
				margin: 0 auto;
				line-height: 1.5em;
				list-style-type: lower-alpha;
				font-size: 1.2rem;
				padding-left: 0;
				
				@include break(768px) {
					font-size: 1.6rem;
				}
				
				> li {
					word-wrap: break-word;
				}
			}
			
			> p {
				margin: {
					top: 4%;
					bottom: 4%;
				}
			}
		}
	}
	
	.correct {
		color: $green;
	}
	
	.wrong {
		color: $red;
	}
	
	.correct_answer,
	.wrong_answer {
		width: 80%;
//		height: 3em;
		border: 1px solid #000;
		border-radius: 10px;
		padding: 4%;
		margin: 2% auto;
		
		@include break(768px) {
			font-size: 1.4rem;
			padding: 10px;
		}
	}
	
	.wrong_answer {
		background-color: $red;// nth($background-colors-list, 10);
	}
	
	.correct_answer {
		background-color: $darkblue; //nth($background-colors-list, 6);
		color: $offwhite;
		
		h4 {
			color: $blue;
			margin-bottom: 0;
		}
		
		.resource {
			&:hover {
				a {
					color: opacify($red, 0.5);					
				}
			}
			
			a {
				color: $yellow;
				margin-top: 0;
			}
		}
	}
}

/* 
 * Admin Page
*/
main#adminPage {
	div.question_box {
		width: 70%;
		border: 1px dotted #000;
		border-radius: 5px;
		margin: 4% auto;
		padding: 7px 3%;
		position: relative;
		
		> p.question_number {
			width: 75%;
			display: inline-block;
		}
		
		> p.edit-question {
			width: 20%;
			display: inline-block;
			text-align: right;
			margin: 0 10px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
	
	form {
		width: 80%;
		text-align: center;
		margin: 0 auto 50px;
	}
	
	button[name=previous] {
		margin-right: 30px;
		@extend %adminPageButtons;
	}
	
	button[name='next'] {
		margin-left: 30px;
		@extend %adminPageButtons;
	}
}

/* 
 * Add Question Page
*/
main.addPage {
	height: 100vh;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;

	@include break(768px) {
		height: 80vh;
	}
	
	h2 {
		color: $darkgreen;
		margin-bottom: 0;
	}
	
	.message {
		color: $red;
	}
	
	form {
		width: 100%;
		height: 100%;
		max-height: 800px;
		margin: 0 auto;
				
		p.hidden {
			display: none;
		}
		
		> p {
			margin-top: 20px;
		}
		
		> p:last-of-type {
			margin-bottom: 50px;
		}


		label {
			display: block;
			margin-bottom: 10px;
			font: {
				family: $gloria;
				size: 14px;
				weight: lighter;
			}

			@include break(768px) {
				display: inline-block;
				font-size: 18px;
			}
		}

		input[type="text"],
		input[type="number"] {
			float: none;
				border-radius: 1px;

			@include clearfix;

			@include break(768px) {
				line-height: 1.5em;
				float: right;
			}
		}
		
		input[type="text"] {
			width: 100%;
			@include break(768px) {
				width: 50%;
			}
		}
		
		input[type="number"] {
			width: 30%;
			@include break(768px) {
				
			}
		}
		
		input[name="submit"] {
			background-color: $purple;
			color: $offwhite;
			float: none;

			@include break(768px) {
				float: right;
			}
		}

		input[name="cancel"] {
			background-color: $red;
			color: $yellow;
			
			@include break(768px) {
				float: left;
			}
		}

		input[name="submit"],
		input[name="cancel"] {
				width: ((100% - ((2 - 1) * 15)) / 2);
				max-width: 250px;
				padding: 10px 25px;
				text-align: center;
				text-decoration: none;
				font-size: 1em;
			
			
			@include break(1000px) {
				font-size: 1.2em;
				padding: 15px 32px;
			}
			
			&:hover {
				opacity: .8;
				font-size: 1.2em;
				//padding: 15px 32px;
				
				@include break(1000px) {
					font-size: 1.4em;
				}	
			}
		}
	}
}
>>>>>>> afa2f6b79876de533a938de462448da5aeeb3310
