%homePageButtons {
	display: inline-block;
	color: antiquewhite;
	border: 1px solid $yellow;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	text-decoration: none;
}

%adminPageButtons {
	width: 100px;
	padding: 5px;
	font-size: 1.4em;
}

%hoverEffect {
	@include break(768px) {
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;

		&:hover {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}

%baseButtons {
	display: inline-block;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	text-decoration: none;
}

%noMargin {
	margin: {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}